@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --primary: 141 57% 47%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 40%;
    --muted-foreground: 240 5% 64.9%;
    --background: 0 0% 12%;
    --background2: 0 0% 21%;
    --surface: 0 0% 17%;
    --foreground: 140 47% 96%;

    /*--background: 20 14.3% 4.1%;*/
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    /*--primary: 142.1 57% 47%;*/
    /*--muted: 0 0% 15%;*/
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 86% 58%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    /*--input: 240 3.7% 15.9%;*/
    --input: var(--surface);
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  h2 {
    @apply mb-4 text-3xl font-bold;
  }

  h3 {
    @apply mb-2 text-2xl font-semibold;
  }

  p {
    @apply mb-4 text-muted-foreground;
  }

  ol {
    @apply mb-2 list-inside list-decimal;
  }

  li {
    @apply mb-2 list-inside list-disc;
  }
}
